.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(8, 21, 31, 0.936); 
    
  } 
  
  .content-wrapper {
    position: relative;
    z-index: 1;
    padding: 20px;
  }
  
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
  }
  
  .badge {
    margin-top : 10px;
  }

  /* .navbar-logo {
    height: 40px; 
    width: auto; 
  } */
  